* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5% }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  box-sizing: border-box;
  height: 100vh;
  background-color: black;
}

.helper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.photo {
  width: 60rem;
}